#brackets-nginx-icon {
    background-image: url(resources/images/nginx.png);
    background-size: 24px 24px;
    -webkit-filter: grayscale(100%);
}
#brackets-nginx-icon.active {
    background-image: url(resources/images/nginx.png);
    background-size: 24px 24px;
    -webkit-filter: grayscale(0%);
}
#nginx_modal menu a.active {
    border-top: 2px solid darkviolet;
    background-color: #444;
    color: white;
    font-weight: bold;
}
#nginx_modal menu>a .removeServer{
    transition: 0.3s all ease-in-out;
    vertical-align: middle;
    display: inline-block;
    outline: none;
    background-color: transparent;
    color: darkred;
    font-size: 14px;
    border: none;
    margin-left: 10px;
}

#nginx_modal menu a {
    padding: 5px;
    background: white;
    border-radius: 10px 0px;
    text-decoration: none;
    color: #AAA;
    background-color: #EEE;
}

#nginx_modal menu {
    margin: 0px;
    padding: 0px;
}

#nginx_modal .property {
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
}

#nginx_modal .property span {
    width: 120px;
    display: inline-block;
    border-bottom: 1px #666 dotted;
    box-sizing: border-box;
}

#nginx_modal .property input {
    padding: 1px 3px;
    outline: none;
    border: none;
    width: 250px;
    border-bottom: 2px #CCC dashed;
    color: black;
    border-radius: 0px 7px 0px 5px;
    padding-right: 25px
}

#nginx_modal .property button[data-id=removeprop]:hover {
    background-color: red;
    color: white;
    border: 1px solid white;
    font-size: 17px;
}

#nginx_modal .property button[data-id=removeprop] {
    transition: 0.3s all ease-in-out;
    vertical-align: middle;
    display: inline-block;
    outline: none;
    border-radius: 0px 10px 0px 20px;
    -webkit-border-radius: 0px 10px 0px 20px;
    width: 26px;
    height: 26px;
    transform: scale(0.8, 0.8) translate(-28px, -2px);
    background-color: white;
    color: darkred;
    border: 1px solid red;
    font-size: 14px;
}

#nginx_modal .group {
    padding: 8px;
    border-top: 1px darkgray solid;
    margin: 0px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    border-left: none;
    border-right: none;
    padding-left: 30px;
}

#nginx_modal .group .group {
    border: 1px darkgray solid;
}

#nginx_modal .group header {
    display: inline-block;
    top: -10px;
    position: absolute;
    background: #47484b;
    left: 5px;
    font-size: 14px;
    margin-left: 0px;
}

#nginx_modal .group .newproperties {
    display: inline-block;
    position: absolute;
    background-color: #444;
    top: 11px;
    border-radius: 0px;
    padding: 4px;
    left: 0px;
    height: auto;
}

#nginx_modal .server button[data-id=toggle] {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    font-weight: bold;
    border: none;
    background-color: white;
    color: black;
    z-index: 1000;
}

#nginx_modal .modal-body {
    max-height: 1000px !important;
}

#nginx_modal .server {
    padding-top: 12px;
    border-bottom: 1px gray dashed;
    margin: 3px 3px 15px 3px;
    position: relative;
    min-height: 15px;
}

#information {
    overflow: auto;
    height: 150px;
}

#nginx_modal .newproperties {
    display: block;
    position: absolute;
    background-color: #444;
    top: 0px;
    border-radius: 0px 0px 8px 0px;
    padding: 2px 13px 0px 6px;
}

#nginx_modal .newproperties button:hover {
    background: darkgreen;
    color: white;
    border: 1px white dashed;
}

#nginx_modal .panel {
    padding-top: 12px;
    position: relative;
}

#nginx_modal .newproperties button {
    transition: 0.3S all ease-in;
    padding: 1px;
    margin: 0px;
    border: 1px lightgreen dashed;
    background: white;
    color: darkgreen;
    border-radius: 2px;
    font-size: 11px;
    top: 0px;
    vertical-align: top;
}

#nginx_modal textarea{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    margin: 0px;
}
